<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<!--ffweb Configs-->
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--Configurations for fPeerlending.dll-->
		<!--Default accounts-->
		<add key="LOANREPAYMENTACCOUNT" value="100" />
		<add key="CASHACCOUNT" value="104" />
		<add key="COMMISSIONACCOUNT" value="105" />
		<add key="MPESACASHACCOUNT" value="106" />
		<!--Transaction Types-->
		<add key="CASHDEPOSITTRANSACTIONTYPE" value="2" />
		<add key="DISBURSELOANTRANSACTIONTYPE" value="8" />
		<add key="COMMISSIONTRANSACTIONTYPE" value="7" />
		<add key="MPESADEPOSITTRANSACTIONTYPE" value="6" />
		<add key="CASHWITHDRAWALTRANSACTIONTYPE" value="3" />
		<add key="MPESAWITHDRAWALTRANSACTIONTYPE" value="5" />
		<add key="ESTABLISHLOANTRANSACTIONTYPE" value="1" />
		<add key="LOANDRAWTRANSACTIONTYPE" value="1" />
		<!-- Account creation default types-->
		<add key="CURRENT_ACC_TYPE_ID" value="1" />
		<add key="LOAN_ACC_TYPE_ID" value="2" />
		<add key="INVESTMENT_ACC_TYPE_ID" value="3" />
		<!--COA Ids-->
		<add key="CURRENT_ACC_COA_ID" value="2" />
		<add key="LOAN_ACC_COA_ID" value="1" />
		<add key="INVESTMENT_ACC_COA_ID" value="1" />
		<!--System Configs-->
		<add key="FANIKIWAREGISTEREDMEMBERSROLE" value="3" />
		<add key="NUMBEROFTRANSACTIONTODISPLAYPERQUERY" value="5" />
		<add key="OFFEREXPIRYTIMESPANINMONTHS" value="1" />
		<add key="FANIKIWAMESSAGESTELNO" value="254713460163" />
		<add key="FANIKIWATELNO" value="254715714457" />
		<add key="FANIKIWAEMAIL" value="info@softwareproviders.co.ke" />
		<add key="FANIKIWAAGENT" value="KISERIAN" /> 
		<!--Event Tracing-->
		<add key="UseInprocEventTracing" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--Offer Configs-->
		<add key="LOANREPAYMENTFEESFLAG" value="B" />
		<add key="CHARGEWHOFLAG" value="B" />
		<add key="INVITEEDOESNTEXISTACTION" value="create" />
    
    <add key="PATH_TO_DIARY_APP" value="D:\wakxpx\csharp\visualstudio\2013\fanikiwa peer to peer lending\fanikiwaGL\bin\DiaryProcessing.exe" />

    <add key="LOGFILENAME" value="Logs\\log.log" />
    <add key="ERRORLOGFILENAME" value="Logs\\error.log" />
  
	</appSettings>

	<!-- Log4net Logging Setup -->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
			<file value="log\log4net\SimCardReader_log4net_Log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<datePattern value="yyyy-MM-dd-hh-mm-ss" />
			<maxSizeRollBackups value="9999" />
			<maximumFileSize value="10000KB" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="-------------------------------------------------------------- &#xD;&#xA;								  %newline%newline% Message: %message%newline Method : %method%newline Date: %date%newline Time Elapsed: %timestamp ms%newline Thread Id: %thread%newline Level: %level%newline Class: %logger%newline Line: %line%newline  Windows Identity: %username%newline Principal Identity: %identity%newline Location: %location%newline Exception: %exception%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>

		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>


	<connectionStrings>
		<add name="DefaultConnection" connectionString="server=.\sqlexpress;database=fUsers;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="default" connectionString="server=.\sqlexpress;database=fanikiwaDB;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="fanikiwaDB" connectionString="server=.\sqlexpress;database=fanikiwaDB;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="fPeerLending" connectionString="server=.\sqlexpress;database=fanikiwaDB;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="fGL" connectionString="server=.\sqlexpress;database=fGL;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="fDiary" connectionString="server=.\sqlexpress;database=fDiary;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="fMessage" connectionString="server=.\sqlexpress;database=fMessage;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
		<add name="fUsers" connectionString="server=.\sqlexpress;database=fUsers;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
	</connectionStrings>


	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IFinancialPostingService" closeTimeout="00:10:00"
						   openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
						   bypassProxyOnLocal="false"  hostNameComparisonMode="StrongWildcard"
						   maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						   messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
						   allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IStaticTransactionsService" closeTimeout="00:10:00"
						openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
						bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
						allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IMessagingService" closeTimeout="00:10:00"
						  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
						  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						  maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
						  allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:4025/GeneralLedgerService.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinancialPostingService"
			 contract="GeneralLedgerServiceProxy.IFinancialPostingService"
			 name="BasicHttpBinding_IFinancialPostingService" />
			<endpoint address="http://localhost:4025/GeneralLedgerService.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaticTransactionsService"
			 contract="GeneralLedgerServiceProxy.IStaticTransactionsService"
			 name="BasicHttpBinding_IStaticTransactionsService" />
			<endpoint address="http://localhost:4035/fMessagingService.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagingService"
			 contract="MessagingServiceProxy.IMessagingService" name="BasicHttpBinding_IMessagingService" />
		</client>

	</system.serviceModel>

</configuration>